/* CUSTOM FONT */

@font-face {
    font-family: Karla;
    src: url("../assets/fonts/Karla-VariableFont_wght.ttf");
}

/* MOBILE LAYOUT */

html {
    width: 100%;
    position: relative;
}

body {
    width: 100%;
    margin: 0;
    background-color: hsl(148, 38%, 91%);
}

main {
    width: 100%;
}

h1,
p {
    margin: 0;
}

.title {
    color: hsl(187, 24%, 22%);
}

form {
    max-width: 90%;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 12.5px;
    font-family: Karla;
    font-weight: 400;
    background-color: hsl(0, 0%, 100%);
}

label {
    font-size: 16px;
}

.name-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.first-name-container,
.last-name-container,
.email-address-container,
.query-type-container,
.query-options-container,
.message-container,
.consent-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input#first-name,
input#last-name,
input#email-address {
    width: 100%;
    height: 45px;
    padding: 0;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 7.5px;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: hsl(169, 82%, 27%);
}

.query-option {
    width: 100%;
    height: 45px;
    padding: 10px 22.5px;
    box-sizing: border-box;
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 7.5px;
}

#message {
    width: 100%;
    height: 200px;
    padding: 10px 20px;
    border: 1px solid hsl(186, 15%, 59%);
    box-sizing: border-box;
    border-radius: 7.5px;
    font-family: Karla;
    font-weight: 400;
}

.consent-input {
    display: flex;
    gap: 15px;
}

input[type="submit"] {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 7.5px;
    font-family: Karla;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    background-color: hsl(169, 82%, 27%);
}

.asterix {
    color: hsl(169, 82%, 27%);
}

#first-name-error-text,
#last-name-error-text,
#email-error-text,
#query-error-text,
#message-error-text,
#consent-error-text {
    color: hsl(0, 66%, 54%);
}

/* HOVER STATE */
input#first-name:hover,
input#last-name:hover,
input#email-address:hover {
    cursor: pointer;
    border: 1px solid hsl(169, 82%, 27%);
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #0c403b;
}

input[type="radio"]:hover,
.query-option:hover,
label[for="general-enquiry"],
label[for="support-request"] {
    cursor: pointer;
}

/* FOCUS AND ACTIVE STATE */

input#first-name:focus,
input#last-name:focus,
input#email-address:focus,
.query-option:focus {
    border: 1px solid hsl(169, 82%, 27%);
    outline: none;
}

input[type="checkbox"]:active,
label[for="consent"]:active {
    cursor: pointer;
}

/* SUCCESS-MESSAGE */

#success-message-container {
    width: fit-content;
    position: absolute;
    top: 5px;
    left: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 7.5px;
    font-family: Karla;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    background-color: #0c403b;
}

.success-info {
    display: flex;
    gap: 10px;
}

/* DESKTOP LAYOUT */

@media screen and (min-width: 800px) {
    form {
        max-width: 720px;
        padding: 35px;
    }
    .name-container,
    .query-options-container {
        flex-direction: row;
        gap: 15px;
    }
    #message {
        height: 100px;
    }
    .success-message-container {
        top: 20px;
    }
}
